{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block body %}

<div class="about-container">
    <div class="overlay-text">
        <p>
            "The beauty of a woman is not just in the elegance of her features but in the depth of her soul.
            It’s in her strength, her kindness, and the way she carries herself with grace.
            She is a canvas of emotions, painted with resilience, love, and dreams.
            Her beauty shines brightest when she is unapologetically herself—fearless, radiant, and endlessly inspiring."
        </p>
    </div>
</div>

{% endblock %}
