{% extends 'forms.html' %}

{% block title %} Sign Up {% endblock %} <!--defination of title-->

{% block body %}   <!--defination of vody-->

<!-- Sign Up section start -->
<section class="base" id="base-signup">
        <div class="form">
            <h3>
                Create an account <br> to shop
            </h3>
            
            <hr class="first">
            <form method="POST">
                <!--the val of form in frontend will can be accessed using jinja 2 brackets-->
                {{ form.hidden_tag() }} <!--csrf token-->

                <div class="input-group">
                    <label>Email Address</label>
                    {{ form.email(class="input-field") }}
                </div>
                
                <div class="input-group">
                    <label>User Name</label>
                    {{ form.username(class="input-field") }}
                </div>

                <div class="input-group">
                    <label>Password</label>
                    {{ form.password1(class="input-field") }}
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    {{ form.password2(class="input-field") }}
                </div>
                
                <!--redirecting to login page-->
                <div class="buttons">
                    <a href="/login"> Already have an account? Login</a>
                    {{ form.submit }}
                </div>


            </form>
        </div>
    
</section>


{% endblock %}